/*
Autor Andre
*/



#timeline {
  list-style: none;
  position: relative;
}
#timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #4997cd;
  left: 50%;
  margin-left: -1.5px;
}
#timeline .clearFix {
  clear: both;
  height: 0;
}
#timeline .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -25px;
  background-color: #4997cd;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
#timeline .timeline-badge span.timeline-balloon-date-day {
  font-size: 1.4em;
}
#timeline .timeline-badge span.timeline-balloon-date-month {
  font-size: .7em;
  position: relative;
  top: -10px;
}
#timeline .timeline-badge.timeline-filter-movement {
  background-color: #ffffff;
  font-size: 1.7em;
  height: 35px;
  margin-left: -18px;
  width: 35px;
  top: 40px;
}
#timeline .timeline-badge.timeline-filter-movement a span {
  color: #4997cd;
  font-size: 1.3em;
  top: -1px;
}
#timeline .timeline-badge.timeline-future-movement {
  background-color: #ffffff;
  height: 35px;
  width: 35px;
  font-size: 1.7em;
  top: -16px;
  margin-left: -18px;
}
#timeline .timeline-badge.timeline-future-movement a span {
  color: #4997cd;
  font-size: .9em;
  top: 2px;
  left: 1px;
}
#timeline .timeline-movement {
  border-bottom: dashed 1px #4997cd;
  position: relative;
}
#timeline .timeline-movement.timeline-movement-top {
  height: 60px;
}
#timeline .timeline-movement .timeline-item {
  padding: 20px 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: #666;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul {
  text-align: right;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li {
  color: #666;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li span.importo {
  color: #468c1f;
  font-size: 1.3em;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul {
  text-align: left;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul span.importo {
  color: #e2001a;
  font-size: 1.3em;
}


.delivered{
	color: #F8F8FF;
	background-color: #3CB371;
	font-family:  verdana;
	font-weight: bold;
	font-size: 12px;
}

.restofpayment{
	color: #F8F8FF;
	background-color: #4682B4;	
	font-family:  verdana;
	font-size: 10px;
}



.payment_delivered{
	color: white;
	background-color: green;
	font-family:  verdana;	
	font-size: 12px;
	
}


.readytodelivery{
	color: #F8F8FF;
	background-color: #B22222;	
	font-family:  verdana;
	font-size: 12px;
}

.finished{
	color: black;
	background-color:#FFA500;	
	font-family:  verdana;
	font-size: 12px;
}


.well-background-report-payment {
	background-color: #FFFAFA;
	border:none;
	width: 600px;

}


.well-background-report {
	background-color: #FFFAFA;
	border:none;
	width:800px;

}

.well-background {
	background-color: white;
}

.well-text-color{
	color:  black;
	font-family: Arial,Helvetica;
	font-weight: bold;
}

.modal-bgcolor{
	color: black;
	background-color: silver;
}

table#table-font-black thead tr th {
	color:#000000; 
	font-weight: bold;
	

}

.table-font-blue thead tr th {
	color:black; 
	font-weight: bold;

}

.bt-back-color{
	background-color: silver;
	color: black;

}

.field-form-blue {
	border-color:black;
	color:silver; 
	font-weight: bold;
	
}

.field-form-black {
	border-color:#DCDCDC;
	color:#000000; 
	font-weight: bold;
	
}

.textbottom20{
	position: absolute;
	top: 20px;
}

.halign{
	margin-left: auto;
	margin-left: auto;
	width: 53em;
	z-index: 1;
}

.textbottom10{
	width: auto;
	top: 10px;
	z-index: 1;
}

.hrdivisor{

	width: 1130px;
}

.font-colorsize{

	font-size: 15px;
	color: silver;
}

.font-sizelist{
	font-size: 18px;
}

.form-filter{

	margin-top: 3px;
	margin-left: -550px; 
	height:  250px; 
	border-style: solid;
    border-width: 1px;
    color: silver;
	background-color: white;
	position: relative;
	z-index: 3;
}

.input-filter-col-1{

	margin-top: 25px;
	margin-left: -45px;
}

.input-filter-col-2{

	margin-top: -3px;
	margin-left: -30px;
}

.select-filter-col-3{

	margin-top: 30px;
	margin-left: -155px;
}

.label-filter-col-2{

	margin-top: -1px;
	margin-left: -30px;
}

.label-filter-col-3{

	margin-top: 10px;
	margin-left: 5px;
}